<!DOCTYPE html>
<html>
    <title>Marina's blog</title>
    <body>
        <h1>This is Main Header</h1>
        <h2><em>This is not so main header</em></h2>
        <p><strong>Hi there!</strong></p>
        <p>It works!</p>
        <a href="https://djangogirls.org">link</a>
        {% for post in posts %}
        <div>
            <p>published: {{ post.published_date }}</p>
            <h1><a href="">{{ post.title }}</a></h1>
            <p>{{ post.text|linebreaksbr }}</p>
        </div>
    {% endfor %}
    </body>
</html>